/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
html, body {
  width: 100%;
  height: 100%;
  overflow: hidden; /* remove scroll horizontal e vertical */
}

body {
  background-image: url(bg.png);
  background-size: cover;
  font-family: Arial, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 80px; /* ajustado */
  padding-bottom: 20px;
}

/* TITULO */
#h1 {
  color: #07223f;
  font-weight: 600;
  font-size: large;
}

/* LOGOS E ANUNCIOS */
.anuncio {
  width: 100%;
  max-width: 80%;
}

#logo {
  width: 100%;
  max-width: 290px;
}

#logof {
  width: 100%;
  max-width: 200px;
  margin-right: 0;
}

/* CONTEÚDO PRINCIPAL */
div {
  display: grid;
  justify-content: center;
  justify-items: center;
  text-align: center;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding-top: 80px; /* reduzido */
  overflow: hidden;
}

/* INPUT */
input {
  margin-top: 20px;
  text-align: center;
  width: 100%;
  max-width: 400px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.253);
  border-radius: 5px;
  font-size: 16px;
  padding: 5px;
}

/* BOTÃO */
#btnEncurtar {
  margin-top: 20px;
  width: 100%;
  max-width: 200px;
  background-color: #007bff;
  color: white;
  padding: 12px 0;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#btnEncurtar:hover {
  background-color: #0057b3;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.596);
}

/* PARÁGRAFOS */
p {
  font-size: small;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}

/* RESULTADOS */
.caixa-res {
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
  font-size: 18px;
}

.link-final {
  color: #0066cc;
  font-weight: bold;
  word-break: break-word;
  text-decoration: none;
}

.link-final:hover {
  text-decoration: underline;
}

#copiarBtn {
  margin-top: 10px;
  padding: 8px 16px;
  background: #0073ff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

#copiarBtn:hover {
  background: #31a010;
}

/* MOBILE */
@media (max-width: 768px) {
  body {
    padding-top: 60px;
    padding-bottom: 40px;
  }

  input {
    max-width: 90%;
  }

  p {
    max-width: 90%;
  }

  #btnEncurtar {
    max-width: 50%;
  }

  #logo {
    max-width: 200px;
  }
}

@media (max-width: 480px) {
  body {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  #logo {
    max-width: 150px;
  }

  #logof {
    max-width: 120px;
  }

  input {
    font-size: 14px;
    height: 35px;
  }

  p {
    max-width: 90%;
  }

  #btnEncurtar {
    font-size: 14px;
    padding: 10px 0;
  }

  footer {
    padding: 20px 10px;
  }
}
